
.hero-img {
  height: 550px;
  object-fit: fill;
}



#heroCarousel .carousel-indicators {
  bottom: 10px;          
  margin-bottom: 0;
  padding: 0;
  align-items: center;
}


#heroCarousel .carousel-indicators [data-bs-target] {
  width: 30px;
  height: 3px;
  min-height: 3px;
  margin: 0 6px;
  padding: 0;
  border: 0;
  background-color: #fff;
  opacity: 0.5;
}


#heroCarousel .carousel-indicators [data-bs-target]::before {
  content: none;
}


#heroCarousel .carousel-indicators .active {
  opacity: 1;
}


#heroCarousel .carousel-indicators button {
  padding: 0;
}
