/* HERO IMAGE */
.hero-img {
  height: 550px;
 

  
}



#heroCarousel .carousel-indicators {
  align-items: center;
}

/* indicator bar */
#heroCarousel .carousel-indicators [data-bs-target] {
  width: 30px !important;
  height: 3px !important;
  padding: 0 !important;
  margin: 0 6px !important;
  border: 0 !important;
  background-color: #fff;
  line-height: 0 !important;
}

/* REMOVE bootstrap invisible height */
#heroCarousel .carousel-indicators [data-bs-target]::before {
  content: none !important;
}

/* active indicator */
#heroCarousel .carousel-indicators .active {
  opacity: 1;
}

/* ============================= */
/* OTHER BUTTONS (SAFE) */
/* ============================= */

.custom-btn {
  padding: 10x;
}
