.hero-img {
  height: 550px;
  object-fit: cover;
}


.carousel-indicators [data-bs-target] {
  width: 20px;
  height: 20px;
  border-radius: 50%; 
  
  margin: 0 3px;
  opacity: 0.5;
}

.carousel-indicators .active {
  opacity: 1;
}
