
.product-card {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  overflow: hidden;
  padding: 16px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
}


.product-card img {
  width: 100%;
  height: 260px;
  object-fit: cover;
  border-radius: 12px;
  transition: transform 0.3s ease;
}
.heading{
  color: #5a2d0c;
}
.product-card img:hover {
  transform: scale(1.05);
}


.product-card h6 {
  margin-top: 12px;
  font-size: 16px;
  font-weight: 600;
  
}


.price {
  display: block;
  margin-top: 8px;
  font-weight: 700;
  color: #5a2d0c;
  font-size: 16px;
}


.view-all-btn,
.add-cart-btn {
  cursor: pointer;
  font-weight: 600;
  letter-spacing: 1px;
  border-radius: 6px;
  padding: 8px;
  font-size: 14px;
  transition: transform 0.3s ease, opacity 0.3s ease;
}






.add-cart-btn {
  background-color: #5a2d0c;
  border: none;
  color: #fff;
  margin-left: 8px;

}

.add-cart-btn:hover {
  opacity: 1;
  transform: translateY(-2px);
  background-color: #49250c;
  color: #ccc;
 
}

.product-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.qty-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin: 10px 0;
}

.qty-box button {
 
  border: 1px solid #ccc;
  background: #fff;
  font-weight: bold;
  cursor: pointer;
}

.qty-box span {
  font-weight: 600;
}

@media (max-width: 768px) {
  .product-card img {
    height: 200px;
  }
  .product-card h6,
  .price {
    font-size: 14px;
  }
  .view-all-btn,
  .add-cart-btn {
    font-size: 12px;
    padding: 8px 14px;
  }
}
